<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
button{
    width:11em;
    height: 2em;
    font-size: 1.5em;
    background-color: black;
    color: white;
    border-radius: 1em;
    margin-top: .5em;
}
button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
  .items{
    background-color: black;
    margin-top: -1em;
  }
    li{
        list-style: none;
    }
    .name{
        font-size: 1em;
        text-align: center;
        color:grey;
    }

    img:hover{
        transform: scale(1.1);
        opacity:50%
        
    }
    .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
  
}

.column {
  width: 19%;
  box-sizing: border-box;
  padding: 5px;
}

.column img {
  width: 100%;
  height: 15em;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

h1 {
  animation: moveLeftToRight 6s linear infinite; 
  display:block; 
  font-size: 2.5em;
  margin-top: -.02em;
}



</style>
<body>
 
        <div class="container" >
            <a href="/new"><button>Create New Pokemon</button></a>
        </div>
        <h1 style="text-align: center;">List of Pokemon</h1>

    <div class = "items">
        <ul class="row">
            <% pokemons.forEach((pokemon, index) => { %>
              <li class="column">
                <a href="/pokemon/<%= pokemon._id %>">
                  <img src="<%= pokemon.img %>" alt="Pokemon Image">
                </a>
                <div class="itemsName">
                  <h2 class="name">Pokemon: <%= pokemon.name %></h2>
                </div>
              </li>
            <% }) %>
          </ul>
 
   </div>
</body>
</html>