<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  itemsList{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    list-style: none;
    padding:0;
  }
  itemsList img{
    width: 100%;
    height: auto;
  }
  img:hover{
    transform: scale(1.1);
    opacity:50%
    
  }
</style>
<body>
    <a href="/new"><button>Create New Pokemon</button></a>
    <h1>List of Pokemon</h1>
    <div class = "items">
     <ul>
        <% pokemons.forEach((pokemon, index)=>{ %>
            <li class = "itemsList">
                <a href="/pokemon/<%= pokemon._id %>">  <img src= "<%= pokemon.img %>"></a>
            <div class = "itemsName">
                <h2 class ="name"> Name: <%= pokemon.name %></h2>
            </div>
            </li>

        <%})%>
    </ul>
   </div>
</body>
</html>